.DS_Store
*.swp
src/.idea
src/cmake-build-debug
src/CMakeFiles
*.jpg
*.png
*.jpeg

src/CMakeCache.txt
src/Makefile
src/cmake_install.cmake
src/path_tracer
src/path_tracer.cbp
src/tests/CMakeFiles/
src/tests/Makefile
src/tests/cmake_install.cmake
src/tests/geometry_tests/CMakeFiles/
src/tests/geometry_tests/Makefile
src/tests/geometry_tests/cmake_install.cmake
src/tests/lib/gtest/CMakeFiles/
src/tests/lib/gtest/Makefile
src/tests/lib/gtest/cmake_install.cmake
src/tests/lib/gtest/gtest.cbp
src/tests/path_tracer_tests.cbp
src/tests/ray_tests/CMakeFiles/
src/tests/ray_tests/Makefile
src/tests/ray_tests/cmake_install.cmake
src/tests/ray_tests/ray_tests.cbp
src/tests/vector_tests/CMakeFiles/
src/tests/vector_tests/Makefile
src/tests/vector_tests/cmake_install.cmake
libgtest.a
libgtest_main.a
ray_tests
